<!doctype html>
<html ng-app="khataAngularApp" >
  <head>
    <meta charset="utf-8">
    <title>Khata: Crowdsourced Online Tibetan English Dictionary</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Khata/ཁ་བཏགས་: The Crowdsourced Tibetan Dictionary"/>
    <meta property="og:url" content="http://khata.co"/>
   <meta property="og:site_name" content="khata"/>
   <meta property="og:type" content="education"/>
   <meta property="og:description" content="Khata is a crowdsourced Tibetan Dictionary.
   Khata is an easy-to-use web/app based resource that allows any user to add words along with their meanings.  Ranking of definitions is ordered by number of user likes/dislikes.  Khata’s success depends largely on collaborative community engagement. " />
   <meta property="og:image" content="http://khata.co/images/logoKhata.6b0f4672.png" />

   <meta name="twitter:card" content="Khata">
<meta name="twitter:url" content="http://khata.co">
<meta name="twitter:title" content="Khata: The Crowdsourced Tibetan Dictionary">
<meta name="twitter:description" content="Khata is a crowdsourced Tibetan Dictionary.
   Khata is an easy-to-use web/app based resource that allows any user to add words along with their meanings.  Ranking of definitions is ordered by number of user likes/dislikes.  Khata’s success depends largely on collaborative community engagement.  ">
<meta name="twitter:image" content="...">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript">
        if (window.screen.width <= 720) {
        window.location = "http://m.khata.co";
    }
    </script>

<!--     <meta name="fragment" content="!"> 
 -->
  </head>
  <body ng-controller="BodyCtrl" ng-style="bodyStyle" class="cover-image">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <p hidden>Online Tibetan English Dictionary</p> 
       <p hidden>Tibetan-English Dictionary</p>   
   <p hidden>Tibetan Language</p>    
    <p hidden>Tibetan Education</p>   
      <p hidden>Tibet Education</p>    

      <div class="header">
      <div class="navbar-xs navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
<!--             <a class="navbar-brand" href="#/"> <img src="images/logoKhata_header.png" width="10">khata/ ཁ་བཏགས་
</a> -->
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active" ><a href="#/"><img src="images/logoKhata_header.png" height="25"> khata/ ཁ་བཏགས་ </a></li>
              <li><a ng-href="#/addWord">Add a Word </a></li>
              <li><a ng-href="#/question">Request Translation</a></li>
              <li><a ng-href="#/grammer">Grammar</a></li>
              <li><a ng-href="#/contact">Contact</a></li>
              <li ng-if="!isAuthenticated()" ><a ng-href="#/login">Login</a></li>
              <li ng-if="isAuthenticated()" ><a ng-click="logout()">Logout</a></li>
               <li><a ng-href="#/user">
                <div ng-if="isAuthenticated()" style="color: white;" >{{ currentUser.userDisplayName }}</div>
              </a>
<!--                 <img ng-src="http://graph.facebook.com/{{currentUser.facebookId}}/picture" />
 -->              </li>
         

              <li class="dropdown">
                <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a ng-href="#/about">About Us</a></li>
                   <li><a ng-href="#/names">Common Tibetan Names</a></li>
                   <li><a ng-href="#/honorific">Honorific Tibetan Terms</a></li>
                   <li><a ng-href="#/explore">Explore</a></li>
                   <li><a ng-href="http://forum.khata.co">Community</a></li>
                  <li><a ng-href="#/colloquial">Colloquial Tibetan</a></li>

                </ul>
              </li>
              <a href="http://khata.co/tibetandictionary">&nbsp;</a>
                              </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{header}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            {{content}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="container ">
    <div ng-view="" ></div>
    </div>
<!--     <div ng-view="" ></div> -->



<!--     <div class="container " style="padding-top:250px">

    <div ng-class="footer" >
        <p class="btn pull-right" ><span class="glyphicon glyphicon-heart"></span> from the lobjong team</p>
    </div>
  </div> -->
       
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65312401-1', 'auto');
      ga('send', 'pageview');

    </script>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='bower_components/angular-animate/angular-animate.js'></script>
    <script src='bower_components/angular-cookies/angular-cookies.js'></script>
    <script src='bower_components/angular-resource/angular-resource.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
    <script src='bower_components/angular-touch/angular-touch.js'></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <script src='bower_components/ng-file-upload/ng-file-upload.js'></script>
    <script src='bower_components/ng-file-upload-shim/ng-file-upload-shim.js'></script>
    <script src='bower_components/ngFacebook/dev/src/unmin/ngFacebook.js'></script>
    <!-- endbower -->
    <!-- endbuild -->
        <script src="//rawgithub.com/GoDisco/ngFacebook/master/ngFacebook.js"></script>
        <script src="bower_components/angular-tags/dist/angular-tags-0.2.10-tpls.js"></script>
         <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/word.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/addword.js"></script>
        <script src="scripts/controllers/body.js"></script>
        <script src="scripts/controllers/honorific.js"></script>
        <script src="scripts/controllers/explore.js"></script>
        <script src="scripts/services/commonservice.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/controllers/question.js"></script>
        <!-- endbuild -->
        
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
</body>
</html>
