
<p  class="container">
<h3>About Us: </h3>
<i>Khata is developed by the LobJong team, a  group of Tibetans founded in 2015, motivated to empower Tibetans through knowledge & innovation.  </i>
<br>
<br>
<blockquote align="justify">
Khata.co is a crowdsourced Tibetan dictionary created by the Lobjong Team. Through active engagement within our community on what Tibetan words should be created and added, and by fostering a wider comprehension of these words, we can improve our ability to communicate clearly to each other about the world we inhabit.  The Tibetan language is complex given the different dialects, formalities, and rapidly changing times.  Many new words are introduced as we accommodate to the different realities around us.  Khata is an easy-to-use web/app based resource that allows any user to add words along with their meanings.  Ranking of definitions is ordered by number of likes/dislikes.  Khata’s success depends largely on collaborative community engagement.  
</blockquote>
</p>
