
<h2>Tibetan   བོད་ཡིག་ </h2>
<p>
Tibetan is a Sino-Tibetan language spoken by about 6 million people in Tibet (Tibet, Qinghai, Gansu, Sichuan and Yunnan), India, Bhutan, Sikkim, Ladakh and Nepal. In Mongolia Tibetan is considered the Classical language of Buddhism and was widely taught until quite recently. <br><br>

Before 1949-50, Tibet comprised of three provinces: Amdo, now split between the Qinghai, Gansu and Sichuan provinces; Kham, now largely incorporated into the provinces of Sichuan, Yunnan and Qinghai, and U-Tsang, which, together with western Kham, is now known as the Tibet Autonomous Region, which was created in 1965. <br><br>

During the 7th Century AD Songstem Gampo [སྲོང་བཙན་སྒམ་པོ་] (569-649AD), the 33rd king of the Yarlung Dynasty of southern Tibet and the first Emperor of Tibet, sent Thonmi Sambhota, one of his ministers, to India to gather information on Buddhism. The minister then reputedly devised a script for Tibetan based on the Devanagari model and also wrote a grammar of Tibetan based on Sanskrit grammars. <br><br>

The new Tibetan alphabet was used to write Tibetan translations of Buddhists texts. The first Sanskrit-Tibetan dictionary, Mahavyutpatti, appeared in the 9th century. Wood block printing, introduced from China, was used in Tibet from an early date and is still used in a few monasteries. <br><br>

Tibetan literature is mainly concerned with Buddhist themes and includes works translated from Sanskrit and Chinese and original Tibetan works. There are also literary works about the Bon religion, a pre-Buddhist religion indigenous to Tibet. The most unusual genre of Tibetan literature is that of gter-ma (གཏེར་མ་) or 'rediscovered' texts - reputedly the work of ancient masters which have been hidden in remote caves for many centuries. <br> <br>
 <h2>Notable features </h2>

    Type of writing system: syllabic alphabet or abugida. Each letter has an inherent vowel /a/. Other vowels can be indicated using a variety of diacritics which appear above or below the main letter. <br>
    Direction of writing: left to right in horizontal lines. <br>
    Syllables are separated by a dot. <br>
    Consonant clusters are written with special conjunct letters. <br>
</p>

<h2>The Tibetan alphabet</h2>
<br>

The form of the alphabet shown below, known as u-chen (དབུ་ཅན་) is used for printing. Cursive versions of the alphabet, such as the gyuk yig or 'flowing script' (རྒྱུག་ཡིག་) are used for informal writing. 

<br>

<h3> Consonants </h3><br>

 <img src="images/tibetan_cons.gif" > 
<br><br>

<h3>Vowel diacritics</h3> <br>

<img src="images/tibetan_vwl.gif" > 
<br><br>
<h3>Numerals</h3><br>

<img src="images/tibetan_num.gif" > 
<br><br>
<h3>Conjunct consonants</h3><br>

<img src="images/tibetan_cnj.gif" > 






