

<h2>ཞེ་སའི་རྣམ་འབྱེད། Honorific Tibetan</h2>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Term</span>
  <input type="text" class="form-control" placeholder="Search Term" aria-describedby="basic-addon1">
</div>
<table class="table">
	<tr>
		<th>Formal Term
		</th>
		<th>Informal Term
		</th>
		<th>English definition
		</th>
	</tr>
<!-- 	<tr ng-repeat="word in words  | filter: searchKeyword ">
		<td>
		</td>
		<td>
		</td>
		<td>
		</td>
	</tr> -->
</table>


<pre>

 ཁོང་།	ཁོའམ་།	མོ་།	He or She
ཁོང་གི་	ཁོ་ཡི་	མོ་ཡི་	His or Her	
ཁོང་ལ་	ཁོ་ལ་	མོ་ལ་	Him or She
ཁིང་ཚོ་	ཁོ་ཚོ་		They
ཁོང་ཚོར་	ཁོ་ཚོར་		To them
ཁོང་ཚོའི་	ཁོ་ཚོའི་		Their
ཁོང་རང་	ཁོ་རང་	མོ་རང་	Himself or herself
ཁྱེད་	ཁྱོད་		You(Singular)
ཁྱེད་རྣམ་པ་	ཁྱོད་ཚོ་		You(Plural)
འཁྲུངས་པ་	སྐྱེས་པ་		Born. To take birth
འཁྲུངས་སྐར་	སྐྱེས་པའི་ཉིན་མོ་		Birthday
འཁྲུངས་ས་	སྐྱེ་ས་		Birthplace
འཁྲུངས་ས་བསྐྱོན་པ་	ཆང་ས་བརྒྱབས་པ་	To wed. To marry


འཁྲུངས་རབས་	སྐྱེས་རབས་	Biography. Life story
འཁྲུངས་རྟགས་	སྐྱེས་རྟགས་	A statue or thanka for rebirth
འཁྲུངས་་རྟཊ་བཞེངས་པ་	སྐྱེས་རྟཊ་བཟོས་པ་	To make such a thanka
དགུང་ལོ་	ལོ་		Age
དགུང་ལོ་བགྲེས་པོ་	ལོ་རྒན་པོ་	Old age	
དགུང་ལོ་ཆུང་ཆུང་		ལོ་ཆུང་ཆུང་	Young age
དགུང་ཟླ་	ན་ཟླ་		Equal age. Same age
དགུང་གྲངས་		ལོ་གྲངས་	Age. 
དགོངས་པ་(n)		བསྨ་བློ་	Thought. Feeling
དགོངས་པ་(v)		བསམ་པ་	To think
དགོངས་པ་ཁྲེལ་བ་		ཚིག་པ་ཟ་བ་	    To get angry. To mind
དགོངས་པ་མ་ཁྲེལ་རོཊ་གནང་	ཚིག་པ་མ་ཟ་རོཊ་	Please don’t mind	
དགོངས་ས་འགྲེལ་		འགྲེལ་པ་	   Explanation of a text
དགོངས་པ་བཀྲལ་པ་		འགྲེལ་བཤད་བརྒྱབས་པ་		To Explain a text
དགོངས་པ་ཚོམ་པ་		རླུང་ལངས་པ་		To think. To consider
དགོངས་པ་བཤེགས་པ་		ཤི་བ་		To die. Expire
དགོངས་པ་རྗོགས་པ་		ཤི་བ་		To die. Expire
དགོངས་གཞི་			བསམ་བློའི་འཆར་གཞི་	Opinion. Plan in mind. 
དགོངས་བཞེད་		སེམས་ཀྱི་འདོད་པ་		Thought. Opinion. 
དགོངས་མཐུན་པ་		བསམ་བློ་མཐུན་པ་		Like Minded. Same Opinion. 
དགོངས་སུ་གསོལ་		བསམ་བློ་ཐོངས་		Please think. 
དགོངས་འཇད་གནང་བ་		སེམས་པ་པཞག་པ་		To remember. To keep in mind. 
དགོངས་དག་		ཚིག་པ་མ་ཟ་		Please forgive. Sorry. 


མགུལ་	སྐེ་		Neck Throat
མགུལ་རྒྱན་	སྐེ་ཡི་རྒྱན་		Necklace. Ornament
མགུལ་གློ་	གློ་		Cough
མགུལ་གླུ་	གླུ་		Song
མགུལ་གླུ་བཞེས་པ་	གླུ་བླངས་པ་		To sing. Sang
མགུལ་ཆམ་		གློ་ཆམ་		Flu. Cold
མགུལ་ཆམ་བཞེས་པ་	གློ་ཆམ་ཐེབས་པ་	To catch Cold
མགུལ་ཆིངས་	སྐེ་ཆིངས་		Neck tie. 
མགུལ་དར་		ཁ་བཏགས་		Scarf. Khata
གྲོངས་པ་		ཤི་བ་		Expire. To die.
གྲོངས་ཁར་		ཤི་ཁར་		At the time of the death
ཆབ་		ཆུ་		Water
ཆབ་བསྐོལ་		ཆུ་བསྐོལ་		Boiled water



</pre>