
<table border="1" cellpadding="4" cellspacing="3" frame="above" rules="groups">
<thead>
<tr valign="TOP">
<th>Name</th>
<th>Pronunciation*</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr valign="TOP">
<td>Chodak</td>
<td>CHÖ-dahk</td>
<td>Dharma Spreader</td>
</tr>
<tr valign="TOP">
<td>Choden</td>
<td>CHÖ-den</td>
<td>One who is devout, religious</td>
</tr>
<tr valign="TOP">
<td>Choegyal</td>
<td>CHÖ-gyel</td>
<td>Dharma king</td>
</tr>
<tr valign="TOP">
<td>Choejor</td>
<td>CHÖ-jor</td>
<td>Spiritual wealth</td>
</tr>
<tr valign="TOP">
<td>Chophel</td>
<td>CHÖ-pel</td>
<td>The flourishing of the Dharma</td>
</tr>
<tr valign="TOP">
<td>Dawa</td>
<td>DAH-wah</td>
<td>Moon, Monday</td>
</tr>
<tr valign="TOP">
<td>Dhargey</td>
<td>DAR-gyeh</td>
<td>Progress, development, spreading</td>
</tr>
<tr valign="TOP">
<td>Dorje</td>
<td>DOR-jeh</td>
<td>Vajra (<i>Skt.</i><span style="font-style: normal">)</span>, something indestructible that can cut through anything, often equated with "diamond" or "thunderbolt"</td>
</tr>
<tr valign="TOP">
<td>Duga</td>
<td>DOO-gah</td>
<td>&nbsp;</td>
</tr>
<tr valign="TOP">
<td>Gyaltsen</td>
<td>GYEL-tsen</td>
<td>Victory Banner</td>
</tr>
<tr valign="TOP">
<td>Jampa</td>
<td>JAHM-pah</td>
<td>Loving-kindness (Tibetan name for the Buddha Maitreya)</td>
</tr>
<tr valign="TOP">
<td>Jamyang</td>
<td>JAHM-yahng</td>
<td>Gentle voice (Tibetan name for the Bodhisattva Manjushri)</td>
</tr>
<tr valign="TOP">
<td>Jinpa</td>
<td>JIN-pah</td>
<td>Generosity (one of the Six Perfections)</td>
</tr>
<tr valign="TOP">
<td>Jungney</td>
<td>JOONG-nay</td>
<td>Source, origin</td>
</tr>
<tr valign="TOP">
<td>Kalsang</td>
<td>KEL-sahng</td>
<td>Good fortune</td>
</tr>
<tr valign="TOP">
<td>Karma</td>
<td>KAR-mah</td>
<td>Action, deed</td>
</tr>
<tr valign="TOP">
<td>Kunchen</td>
<td>KÜN-chen</td>
<td>All-knowing</td>
</tr>
<tr valign="TOP">
<td>Lhundup</td>
<td>HLÜN-d(r)oop</td>
<td>Spontaneously accomplished</td>
</tr>
<tr valign="TOP">
<td>Lobsang</td>
<td>LO-sahng</td>
<td>Noble-minded</td>
</tr>
<tr valign="TOP">
<td>Ngawang</td>
<td>NGAH-wahng</td>
<td>Powerful speech</td>
</tr>
<tr valign="TOP">
<td>Ngodup</td>
<td>NGÖ-d(r)oop</td>
<td>Attainment, accomplishment</td>
</tr>
<tr valign="TOP">
<td>Norbu</td>
<td>NOR-boo</td>
<td>Jewel</td>
</tr>
<tr valign="TOP">
<td>Palden</td>
<td>PEL-den</td>
<td>Glorious</td>
</tr>
<tr valign="TOP">
<td>Pema</td>
<td>PEH-mah</td>
<td>Lotus</td>
</tr>
<tr valign="TOP">
<td>Phuntsok</td>
<td>PÜN-tsok</td>
<td>Excellence</td>
</tr>
<tr valign="TOP">
<td>Rabten</td>
<td>RAHB-ten</td>
<td>Steadfast</td>
</tr>
<tr valign="TOP">
<td>Rinchen</td>
<td>RIN-chen</td>
<td>Precious, gem (lit: great value)</td>
</tr>
<tr valign="TOP">
<td>Samdup</td>
<td>SAHM-d(r)oop</td>
<td>Fulfillment (of one's wishes)</td>
</tr>
<tr valign="TOP">
<td>Sangye</td>
<td>SAHN-gyeh</td>
<td>Buddha</td>
</tr>
<tr valign="TOP">
<td>Sonam</td>
<td>SÖ-nahm</td>
<td>Merit</td>
</tr>
<tr valign="TOP">
<td>Tashi</td>
<td>TAH-shee</td>
<td>Auspicious, fortunate</td>
</tr>
<tr valign="TOP">
<td>Tenzin</td>
<td>TEN-zin</td>
<td>Holder of the teachings</td>
</tr>
<tr valign="TOP">
<td>Thekchen</td>
<td>TEK-chen</td>
<td>Mahayana</td>
</tr>
<tr valign="TOP">
<td>Thokmay</td>
<td>TOK-meh</td>
<td>Unobstructed, unhindered</td>
</tr>
<tr valign="TOP">
<td>Thubten</td>
<td>TOOB-ten</td>
<td>The Buddha's teaching</td>
</tr>
<tr valign="TOP">
<td>Tinley</td>
<td>T(R)IN-leh</td>
<td>Enlightened activity</td>
</tr>
<tr valign="TOP">
<td>Tsering</td>
<td>TSEH-ring</td>
<td>Long life</td>
</tr>
<tr valign="TOP">
<td>Tseten</td>
<td>TSEH-ten</td>
<td>Stable life</td>
</tr>
<tr valign="TOP">
<td>Tsewang</td>
<td>TSEH-wahng</td>
<td>Life empowerment</td>
</tr>
<tr valign="TOP">
<td>Wangchuk</td>
<td nowrap="nowrap">WAHNG-chook</td>
<td>Lord, mighty</td>
</tr>
<tr valign="TOP">
<td>Wangdak</td>
<td>WAHNG-dahk</td>
<td>&nbsp;</td>
</tr>
<tr valign="TOP">
<td>Wangdue</td>
<td>WAHNG-doo</td>
<td>Subduer</td>
</tr>
<tr valign="TOP">
<td>Yama</td>
<td>YAH-mah</td>
</tr>
<tr valign="TOP">
<td>Yonten</td>
<td>YÖN-ten</td>
<td>Good qualities</td>
</tr>
</tbody>
</table>
