<p>This is the question view.</p>

<!-- <form name="userForm" novalidate>
 -->  <div class="form-group" >
    <input type="text" class="form-control" name="word" ng-model="question" placeholder="བོད་ཡིག་" required>
    <span style="color:red" ng-show="userForm.word.$invalid">
    <span ng-show="userForm.word.$error.required">Word is required.</span>
    </span>
  </div>
  <input type="submit" ng-click="createQuestion()"  class="btn btn-success" ng-disabled="userForm.word.$invalid || userForm.english_word.$invalid" >

<!-- </form>
 -->